# Eclipse specific files
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders/

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# Java annotation processor (APT)
.factorypath

# Eclipse Core specific
.project
.classpath

# Maven specific
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle specific
.gradle/
build/

# OS specific files
.DS_Store

# Logs
*.log
